<div class="area-nav-bar">
    <button id="LMS_Flashcards" class="area-nav tab" data-location="/LMS/Flashcards">Flashcards</button> 
    <button id="LMS_Study" class="area-nav tab" data-location="/LMS/Study">Study</button> 
</div>