@model OtherSquare.Models.EntityProperty

<div class="entityProperty form-section">
    <input name="" type="hidden" class="guid" value="@Model.Guid" />
    <input name="" type="text" class="key" value="@Model.Key" placeholder="Key" />
    <input name="" type="text" class="value" value="@Model.Value" placeholder="Value" />
</div>

