<div class="area-nav">
    <button id="entitySearch" class="site-nav-btn" data-location="/Entity/Search">Search</button>
    <button id="entityNew" class="site-nav-btn" data-location="/Entity/New">New</button>
</div>
<script>
    document.getElementById('entities').setAttribute('class', 'current-area');
</script>