<div class="area-nav">
    <button type="button" id="entitySearch">Search</button>
    <button type="button" id="entityNew">New</button>
</div>
<script>
    document.getElementById('entities').setAttribute('class', 'current-area');
</script>