@model OtherSquare.Models.Entity

<div class="form-section" onclick="EntityDetail(this);">
    <input type="hidden" class="guid" value="@Model.Guid" />
    <div>@Model.Name</div>
    <div>@Model.Description</div>
</div>