@model OtherSquare.ViewModels.EntitySearchViewModel

<div>
    @Html.Partial("_EntitySubMenu")
</div>
<div class="page-section">
    <input id="inputEntitySearch" type="text" placeholder="Search" />
</div>

<div id="entitySearchResults" class="page-section">
    @Html.Partial("_EntitySearchResults", @Model)
</div>

<script>
    document.getElementById('entitySearch').setAttribute('class', 'current-area');
</script>