@using Microsoft.AspNet.Identity
<link rel="stylesheet" type="text/css" href="~/Content/random.css" />
<body>
    <div id="random" class="rand-body"></div>
    <div class="rand-btn">?</div>
</body>
<script src="~/Scripts/OtherSquare/random.js"></script>