/*#region HTML Tags*/

:root {
    --site-padding: 10px;
    --font-size: 17px;
    --color_hover: #4a8ee1;
}

* {
    font-size: var(--font-size);
    font-family: arial;
}

body {
    margin: 0;
}

button {
    border-radius: 3px;
    border: solid 1px #808080;
    height: calc(var(--font-size) * 1.6);
    cursor: pointer;
}

button:hover {
    text-shadow: 0 0 1px var(--color_hover);
    /*color: var(--color_hover);*/
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
    border: solid 1px var(--color_hover);
}

/*button:disabled {
    color: #efefef;
    border: solid 1px #efefef;
}*/

input, log-in, log-out {
    padding: 0 var(--site-padding);
    border-radius: 3px;
    border: solid 1px #808080;
    /*height: calc(var(--font-size) * 1.6);*/
}

input {
    cursor: pointer;
}

input:focus {
    outline: none;
    border: solid 1px #4a8ee1;
}

label {
    padding-top: var(--site-padding);
}

textarea {
    resize: vertical;
    min-height: 3em;
}

/*#endregion*/

/*#region Site*/

.log-in {
    margin-bottom: var(--site-padding);
}

.log-out {
    float: right;
    background-color: rgba(0,0,0,0);
    color: #FFF;
    border: none;
    margin-top: calc(var(--site-padding) / -1.66666);
    text-shadow: 0 0 3px #000;
}

.log-out:hover {
    text-shadow: 0 0 var(--site-padding) rgba(128,0,0,.5);
}

.form-section {
    padding-top: var(--site-padding);
}

.site-nav-bar {
    background: linear-gradient(rgba(187,187,187,1), rgba(0,0,0,.35));
    padding: var(--site-padding) var(--site-padding) 0 var(--site-padding);
    box-shadow: inset 0 -1px #808080;
}

.site-nav.tab {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    background-color: rgba(0,0,0,0);
}

.site-nav.tab.selected {
    background-color: #DDD;
    border-bottom: #DDD;
}

.area-container {
    display: grid;
    grid-row-gap: var(--site-padding);
    padding: var(--site-padding);
    max-width: 1200px;
}
.area-nav-bar {
    /*background-color: #DDD;*/
    background: linear-gradient(#dddddd, rgba(0,0,0,.2));
    padding: var(--site-padding) var(--site-padding) 0 var(--site-padding);
    box-shadow: inset 0 -1px #808080;
}

.area-nav {
    background-color: #DDD;
    padding: var(--site-padding) var(--site-padding) 0 var(--site-padding);
}

.area-nav.tab {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    background-color: rgba(0,0,0,0);
    padding-top: 0;
}

.area-nav.tab.selected {
    background-color: #FFF;
}

.item-list::-webkit-scrollbar {
    width: 0px;
}

.item-list-item {
    padding: 3px 0 0 6px;
    height: calc(var(--font-size) * 1.6);
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
    margin:2px;
    cursor: pointer;
}

.item-list-item:nth-child(even) {
    background-color: rgba(0,0,0,.05);
}

.item-list-item:hover {
    border: 1px solid var(--color_hover);
}

.item-list-item.selected {
    border: 1px solid #a0b6bf;
    background-color: #e0f6ff;
}

.date-picker {
    height: calc(var(--font-size) * 1.6);
}

.hide {
    display: none;
}

.disabled {
    cursor: default;
    color: #BBB;
    background-color: #FFF;
    pointer-events: none;
}

/*.progress:before {
    content: "LOADING";
    text-align: center;
}*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
}

.modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    z-index: 11;
}

/*#endregion */

/*#region LMS*/
:root {
    --toggle-button-size: 20px;
}

.section {
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,60,.3);
}

.section-title-bar.expanded {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #EEE;
    border-radius: 6px;
    border: 1px solid #BBB;
    padding: var(--site-padding);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.section-title-bar.collapsed {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #EEE;
    border-radius: 6px;
    border: 1px solid #BBB;
    padding: var(--site-padding);
}

.section-title {
    font-size: 1.5em;
}

.section-controls {
    margin-top: 2px;
}

.section-controls.collapsed {
    display: none;
}

.section-controls > button {
    background-color: #FFF;
    font-size: 1.02em;
}

.expand-collapse {
    margin-right: var(--site-padding);
    justify-content: center;
    align-content: center;
    width: var(--toggle-button-size);
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 0 var(--site-padding);
    font-size: 1.02em;
    color: #777;
    cursor: pointer;
}

.section-content {
    display: grid;
    grid-row-gap: var(--site-padding);
    padding: var(--site-padding);
    border-radius: 6px;
    border: 1px solid #BBB;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.section-content.collapsed {
    display: none;
}

.item-list {
    display: grid;
    grid-template-rows: auto 120px;
}

.item-list-title-bar {
    display: grid;
    grid-template-columns: 1fr auto 50px;
    background-color: #EEE;
    border-radius: 3px;
    border: 1px solid #999;
    padding: calc(var(--site-padding) / 2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.item-list-content {
    padding: 2px 0;
    border-radius: 3px;
    border: 1px solid #999;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    overflow-y: scroll;
}

.item-list-item {
    display: grid;
    grid-template-columns:  1fr auto 35px;
}

.item-list-item > input[type="checkbox"] {
    margin: 5px 0 0 16px;
}

.item-list-item div {
    margin-top: 3px;
}

.item-list-item.archived {
    /*TODO Apply a real style here*/
    color: red;
}

.title-edit {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: var(--site-padding);
}

.title-label {
    padding-top: calc(var(--site-padding) / 2);
    font-weight: 600;
}

.qa {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "q ." "a a";
}

.qa-label {
    padding-bottom: calc(var(--site-padding) / 3);
    font-weight: 600;
}

.q {
    grid-area: q;
    display: grid;
}

.a {
    grid-area: a;
    display: grid;
}

.date-picker {
    width: 90px;
    text-align: center;
}

/*#endregion*/